*{
    
    box-sizing: border-box !important;
}

body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

.containe{
    flex: 1;
}
.navbar{  
    min-height: 80px;      /* Use min-height instead of height */
    padding-top: 16px;     /* Add padding for more space */
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.fa-compass{
    font-size: 2rem;
    color:rgb(248, 16, 16);
}

.nav-link{
    font-weight: 600 !important;
    color: rgb(31, 30, 30) !important;
}

/* footer */
.f-info{
    height: 8rem;
    background-color: rgba(216, 191, 216, 0.692);
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

.f-info-links a{
    text-decoration: none;
    color: rgb(31, 30, 30);
}
.f-info-links a:hover{
    text-decoration: underline;
    color: #0000EE;
}

.f-info-socials i{
    font-size: 1.5rem;
    margin: 0 10px;
    color: rgb(31, 30, 30);
}

/* cards */

.row{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
}
.card{
    border:none !important;
    margin-bottom: 2rem !important;
    
}
.card-img-top{
    border-radius:1.2rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0 !important;
    
}

.listing-link {
    text-decoration: none ;
}
.card-body p:hover{
    cursor: pointer;
}

.card-img-overlay{
    opacity: 0 !important;
}

.card-img-overlay:hover{
    opacity: 0.2 !important;
    background-color: white;
}

.btn{
    margin-bottom: 2rem !important;
}

label{
    font-weight: 600 !important;
}

/* show.ejs */

.show-img{
    height: 30vh;
}
.card{
    margin-bottom: 2rem !important;
    border: none !important;
}
.row-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex: wrap;
}
@media (max-width: 768px) {
        .row-btn{
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
        }
        .edit, .delete{
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
        }
}
.edit-btn{
    background-color: #cf1f08 !important;
    color: white !important;
    border:none !important;
}
.delete-btn{
    border:none !important;
}










